<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="manifest" href="{{ absURL "site.webmanifest" }}" />
    <meta name="apple-mobile-web-app-title" content="{{ T "title" }}">

    <!-- Style -->
    <link rel="icon" href="{{ absURL "favicon.ico" }}" />
    <link rel="prefetch" href="{{ absURL "styles.css" }}" />
    <link rel="stylesheet" href="{{ absURL "styles.css" }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ absURL "apple-touch-icon.png" }}" />

    <!-- Main -->
    <title>{{ T "title" }}</title>
    <meta name="title" content="{{ T "title" }}" />
    <meta name="description" content="{{ T "subtitle" }}" />
    <link rel="canonical" href="{{ absURL .RelPermalink }}" />
    {{ range $.AllTranslations }}
    <link href="{{ absURL .RelPermalink }}" rel="alternate" hreflang="{{ .Language.LanguageCode }}">
    {{ end }}

    <!-- Schema -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": {{ .Site.Params.phone }},
        "email": "{{ .Site.Params.email }}"
      },
      "description": "{{ T "subtitle" }}",
      "email": "{{ .Site.Params.email }}",
      "foundingDate": "{{ .Site.Params.foundingDate }}",
      "iso6523Code": "0199:{{ .Site.Params.ein }}",
      "legalName": "{{ T "title" }}",
      "logo": {{ absURL "logo.webp" }},
      "name": "{{ T "title" }}",
      "numberOfEmployees": {
        "@type": "QuantitativeValue",
        "value": 1
      },
      "sameAs": [{{ .Site.Params.linkedIn }}],
      "telephone": {{ .Site.Params.phone }},
      "url": {{ absURL .RelPermalink }}
    }
    </script>
    <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{ T "title" }}",
      "url" : {{ absURL .RelPermalink }}
    }
  </script>

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="{{ absURL "index.xml" }}" />

    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ absURL .RelPermalink }}" />
    {{ if .Params.Image }}
    <meta property="og:image" content="{{ absURL .Params.Image }}" />
    {{ else }}
    <meta property="og:image" content="{{ absURL "banner.webp" }}" />
    {{ end }}
    <meta property="og:title" content="{{ T "title" }}" />
    <meta property="og:description" content="{{ T "subtitle" }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
    <meta name="twitter:title" content="{{ T "title" }}" />
    <meta name="twitter:description" content="{{ T "subtitle" }}" />
    {{ if .Params.Image }}
    <meta property="twitter:image" content="{{ absURL .Params.Image }}" />
    {{ else }}
    <meta property="twitter:image" content="{{ absURL "banner.webp" }}" />
    {{ end }}
</head>
