{{ define "main" }}
<section id="about-us">
    <h2>{{ T "aboutUs" }}</h2>
    <p>{{ T "subtitle" }}</p>
</section>

<section id="services">
    <h2>{{ T "services" }}</h2>
    <ul>
        {{ range $index, $tag := $.Site.Taxonomies.categories }}
        <li class="tag"><a href="{{ $tag.Page.RelPermalink }}">{{ $tag.Page.Title }}</a></li>
        {{ end }}
    </ul>
</section>

<section id="projects">
    <h2>{{ T "projects" }}</h2>
    {{ range (where .Site.RegularPages "Section" "projects") }}
    {{ partial "project.html" . }}
    {{ end }}
</section>

<section id="articles">
    <h2>{{ T "articles" }}</h2>
    {{ range (where .Site.RegularPages "Section" "articles") }}
    {{ partial "article.html" . }}
    {{ end }}
</section>

<section id="technologies">
    <h2>{{ T "technologies" }}</h2>
    <ul>
        {{ range $index, $tag := $.Site.Taxonomies.tags }}
        <li class="tag"><a href="{{ $tag.Page.RelPermalink }}">{{ $tag.Page.Title }}</a></li>
        {{ end }}
    </ul>
</section>
{{ end }}
