:root {
    --background: #f5f5f5;
    --container-background: #ffffff;
    --color: #333;
    --link-color: #555;
    --subtitle-color: #888;
    --header-color: #f9f9f9;
    --border-color: #eee;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --accent-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #111;
        --container-background: #222;
        --color: #eee;
        --link-color: #ddd;
        --subtitle-color: #aaa;
        --header-color: #000;
        --border-color: #444;
        --shadow-color: rgba(255, 255, 255, 0.1);
        --accent-color: #fff;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--color);
    padding: 20px;
    line-height: 1.6;
}

#container {
    position: relative;
    box-shadow: 0 0 16px var(--shadow-color);
    border-radius: 8px;
    background-color: var(--container-background);
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

header {
    display: flex;
    margin-bottom: 16px;
}

#logo {
    border-radius: 100%;
    margin-right: 20px;
    object-fit: cover;
}

header > div {
    display: flex;
    flex-direction: column;
}

address {
    display: flex;
    gap: 8px;
    flex-direction: column;
    text-align: right;
    flex-grow: 1;
}

a {
    color: var(--link-color);
}

a:has(h1) {
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
}

p {
    color: var(--link-color);
}

section {
    margin: 32px 0;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 8px;
}

ol {
    list-style-position: inside;
}

li {
    color: var(--link-color);
}

h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--link-color);
}

img {
    object-fit: cover;
    max-width: 100%;
}


.tag {
    background-color: var(--background);
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 12px;
    align-items: center;
    gap: 8px;
    color: var(--link-color);
}

.project {
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
}

.project > header {
    display: flex;
    padding: 16px;
    background-color: var(--header-color);
    border-bottom: 1px solid var(--border-color);
    margin: 0;
}

.project > header > img {
    border-radius: 100%;
    margin-right: 16px;
}

.project > header > div > p {
    color: var(--subtitle-color);
}

.project > main {
    padding: 16px;
}

.project > footer {
    margin: 0;
    padding: 0 16px 16px 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.article {
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
}

.article > img {
    width: 100%;
    max-height: 200px;
}

.article > footer {
    margin-top: 0;
    padding: 16px;
    background: var(--header-color);
    border-top: 1px solid var(--border-color);
}

.article > footer > p {
    color: var(--subtitle-color);
}

footer {
    margin-top: 40px;
    font-size: 12px;
}

#cta {
    position: fixed;
    right: 24px;
    bottom: 24px;
    color: var(--border-color);
    background-color: var(--accent-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s;
}

#cta:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

#cta:active {
    transform: translateY(0px);
}

@media (max-width: 640px) {
    body {
        padding: 12px;
    }

    header {
        flex-direction: column;
    }

    article > header {
        flex-direction: initial;
    }

    header > address {
        text-align: initial;
    }
}
